@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: #c4f0af !important; /* Override Bootstrap body background color */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#app {
    background: #ffffff;
    padding: 20px;
}

@media(min-width: 1024px) {
    #app {
        width: 768px;
        height: 868px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
    }
}

.btn-primary {
    background-color: #494949 !important;
    border-color: #555454 !important;
}

/* Ensures the scrollbar is always visible */
.col-12::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Background color of the scrollbar track */
.col-12::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Color of the scrollbar thumb (the draggable part) */
.col-12::-webkit-scrollbar-thumb {
    background: #888;
}

/* Changes thumb color when hovered */
.col-12::-webkit-scrollbar-thumb:hover {
    background: #555;
}